:root {
  --main-green: #004d14;
  --dark-green: #005a31;
  --medium-green: #00703d;
  --light-green: #66bb6a;
  --pastel-green: #a5d6a7;
  --white: #f6f7f2;
  --orange: #ff6b18;
  --orange2: #ff8c01;
  --grey: #272727;
  --black: #000;
  --lighter-grey: #4d4d4d;
  --darker: #e1e5dc;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  line-height: 1.5;
}

.order-form {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  margin: 2em 0;
  border-radius: 7px;
  height: fit-content;
  font-size: 1em;
  justify-content: center;
}

.item {
  width: fit-content;
  padding: 0.5em 1em 0.5em 0.5em;
  max-width: 25em;
  margin: 0.5em;
  position: relative;
  border-radius: 3px;
  border: 1px solid var(--white);
}

.order-form h3 {
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.order-form p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  margin-left: 0.5em;
  text-align: justify;
}

.order-form label {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

.order-form button {
  padding: 0.3em 0.8em;
  border: none;
  background-color: var(--medium-green);
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  line-height: 1.5;
  align-items: center;
  font-size: 1em;
  font-weight: 300;
  margin: 1em 0.5em;
  width: fit-content;
  height: fit-content;
  text-wrap: nowrap;
}

.order-form form {
  width: fit-content;
  display: flex;
  margin: 0.5em;
  position: relative;
  border-radius: 3px;
  border: 1px solid var(--white);
  padding: 0.5em;
}

.configuration {
  width: fit-content;
  min-width: 25em;
  margin: 0.5em;
  border-radius: 3px;
  border: 1px solid var(--white);
  padding: 0.5em;
}

input[type="radio"] {
  display: block;
  margin: 1em;
}

.radio label {
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 5px;
  margin: 0.2em;
  padding-right: 1em;
  cursor: pointer;
}

.radio label:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#order-message {
  font-size: 1em;
  font-weight: 300;
  border: 1px solid var(--white);
  border-radius: 5px;
  margin: 0.2em;
  color: var(--lighter-grey);
  line-height: normal;
  padding: 0.5em;
  width: 99%;
}

.personal-info {
  position: relative;
  width: 25vw;
  min-width: 25em;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid var(--white);
  height: 18em;
}

.info-detail {
  margin: 0.15em;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.info-detail input {
  border: 1px solid var(--white);
  border-radius: 5px;
  line-height: 1.5;
  font-size: 1em;
  font-weight: 300;
  padding: 0.25em 1em;
  margin: 0 1em;
  width: 18em;
}

.info-detail input:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.info-detail label {
  width: 35%;
}

.end-buttons {
  position: absolute;
  right: 1em;
  bottom: 0.5em;
  align-items: center;
}

#submit:hover {
  background-color: var(--light-green);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#close {
  background-color: var(--white);
  color: black;
  font-weight: 300;
}

#close:hover {
  background-color: var(--orange);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: white;
}

@media screen and (max-width: 1100px) {
  .order-form {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .order-form form {
    flex-wrap: wrap;
    width: 90vw;
  }

  .end-buttons {
    bottom: 0.5em;
  }
}
